@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("pikabackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

#header > h3 {
  color: white;
  padding: 0px;
}

#starterPage {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

#starterPage > a > button {
  margin: 85% auto;
  height: 200px;
  width: 200px;
  background-color: #fe5858;
  border: 2px solid yellow;
  font-size: xx-large;
  font-family: "Quicksand", sans-serif;
  color: white;
  text-decoration: none;
}

#description {
  background-color: white;
  opacity: 70%;
}

.navbar-dark {
  background-color: #585858 !important;
}
