@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  max-height: max-content;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("pikabackground.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#starterPage {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  max-height: 100%;
  height: 100%;
}

#starterPage > a {
  height: 200px;
  width: 200px;
  margin-top: 15%;
}
#starterPage > a > button {
  height: inherit;
  width: inherit;
  background-color: #fe5858;
  border: 2px solid yellow;
  font-size: xx-large;
  font-family: "Quicksand", sans-serif;
  color: white;
  text-decoration: none;
}

/* #description {
  background-color: white;
  opacity: 80%;
} */

/*Navbar */
.navbar-dark {
  background-color: #585858 !important;
}

/* Button Colors */
.fire {
  background-color: #f08030;
}

.grass {
  background-color: #78c850;
}

.ice {
  background-color: #98d8d8;
}

.ground {
  background-color: #e0c068;
}

.rock {
  background-color: #b8a038;
}

/*Health Bar */
.health-bar {
  position: relative;
  height: 30px;
  width: 350px;
  border: 4px solid #333;
  background-color: gray;
}

.filler {
  background: red;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
  text-align: end;
  padding-right: 15px;
}

.health {
  padding-left: 30px;
}

.health > h3 {
  margin-bottom: 0px;
  margin-top: 5px;
  filter: grayscale(1) contrast(9) drop-shadow(0.05em 0.05em white);
}

/*Play Area */
.playArea {
  margin-top: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 130px;
  padding-left: 30px;
  padding-top: 20px;
}

.buttons > button {
  margin: 10px;
  margin-left: 0px;
  height: 40px;
  width: 100px;
  border-radius: 10%;
  border: 1px solid black;
  color: white;
}

.gameOver {
  text-align: center;
}

@media only screen and (min-width: 1290px) {
  /* Starter Page */

  #starterPage > a {
    margin-top: 16%;
    height: 300px;
    width: 300px;
  }
  #starterPage > a > button {
    height: inherit;
    width: inherit;
  }

  /* Health Bars */
  .health-bar {
    position: relative;
    height: 30px;
    width: 600px;
    border: 4px solid #333;
    background-color: gray;
  }

  .filler {
    background: red;
    height: 100%;
    border-radius: inherit;
    transition: width 0.2s ease-in;
    text-align: end;
    padding-right: 15px;
  }

  .health {
    padding-left: 30px;
  }

  .health > h3 {
    margin-bottom: 0px;
    margin-top: 5px;
    filter: grayscale(1) contrast(9) drop-shadow(0.05em 0.05em white);
  }

  /*Description */
  #description > p,
  #description > h3 {
    background: inherit;
    background-clip: text;
    filter: grayscale(1) contrast(9) drop-shadow(0.1em 0.07em white);
  }

  /*Play Area */
  .playArea {
    margin-top: 10px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    width: 130px;
    padding-left: 30px;
    padding-top: 20px;
  }

  .buttons > button {
    margin: 10px;
    margin-left: 0px;
    height: 40px;
    width: 100px;
    border-radius: 10%;
    border: 1px solid black;
    color: white;
  }
}

@media only screen and (max-width: 500px) {
}
